<!doctype html>
<html prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Scott's Personal Website" />
  <meta property="og:type" content="Portfolio" />
  <meta property="og:image" content="https://ScGilroy.github.io/assets/files/home/background/Scott.jpg" />
  <meta name="description" content="Scott's Personal Website">

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
  <link href="/assets/css/creative.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
{% seo %}
</head>

<body id="page-top" class="{% if page.layout == site.landing_template %}landing {% endif %}">
  {% include nav.html %}
  {{ content }}
  {% include footer.html section=section site=site page=page %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="/assets/js/creative.min.js"></script>
</body>

</html>
